body {
	margin: 0;
	padding: 0;
	background-color: #6D6E71;
}
h1 {
	font-size: 40px;
	font-family: "Oswald", sans-serif;
}
h2 {
	font-size: 35px;
	font-family: "Oswald", sans-serif;
}
h3 {
	font-size: 30px;
	font-family: "Oswald", sans-serif;
}
p, a {
	font-size: 22.5px;
	font-family: "Open Sans", sans-serif;
}

.red {
	background-color: #d20000;
	color: white;
}
.white {
	background-color: white;
	color: black;
}
.sticky {
	position: sticky;
	top: 0;
}
.right {
	float: right;
}
.left {
	float: left;
	padding: 5px 25px 0 0;
}
.clear {
	clear: both;
}

.header {
	background-color: #d20000;
	color: white;
	padding: 0 200px;
}
/*Navigation*/
.navigation {
	transition: 1s;
	text-align: center;
	padding: 25px 0;
	width: 100%;
	position: fixed;
	left: -100%;
	top: 0;
	height: 100%;
	color: white;
	background-color: #202020;
	z-index: 1000;
}
.navigation a {
	width: 100%;
	display: block;
	padding: 25px 0;
	background-color: #202020;
	text-align: center;
	text-decoration: none;
	color: white;
	transition: 0.25s;
}
.navigation a:hover {
	background-color: #800000;
}
#menuPadding {
	padding: 0 250px;
}
.button:hover {
	cursor: pointer;
}



.logo {
	height: 100px;
	width: auto;
}
.mainButton {
	color: black;
	text-decoration: none;
	padding: 10px;
	border: 2px solid black;
	transition: 0.5s;
}
.mainButton:hover {
	color: white;
	background-color: black;
}

/*Main containers*/
.splash {
	background-color: white;
	clear: both;
	text-align: left;
	padding: 100px 200px;
	background-image: url("../images/RedRiceSplash.png");
	background-size: 100% 100%;
	color: #d20000;
}
.splashInside {
	padding: 25px 50px;
	background-color: #202020;
	background-color: rgba(210,0,0,0.875);
}
.container {
	margin: 50px 200px;
	padding: 25px 50px;
	padding-bottom: 50px;
}
.raised {
	position: relative;
	top: -100px;
	margin-bottom: -100px;
}
.main {
	padding:  0 125px 50px 125px;
}
.footerpart {
	margin-right: 15%;
}
footer {
	padding: 50px 200px;
	background-color: #303030;
}
footer a {
	color: white;
	text-decoration: none;
	display: block;
}


